.threed {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin-top: 100px;
  margin: 0 auto;
  padding-top: 50px;
}

.threed_img {
  width: 50%;
  height: 60%;
}

.threed_img_contents1 {
  width: 100%;
  height: 50%;
}

.threed_texts {
  margin-left: 50px;
}
