body {
  margin: 0 auto;
  padding: 0;
}

header {
  background: #FFF;
  width: auto;
  height: 80px;
  z-index: 100;
  margin-top: 20px;
}

ul {
  position: fixed;
  display: flex;
  list-style: none;
  right: 10px;
  margin-bottom: 50px;
}

ul li {
  padding-left: 20px;
}

ul li .link_text {
  text-decoration: none;
  text-decoration-style: none;
}

ul li .link_text:visited, ul li .link_text :active {
  text-decoration-style: none;
  text-decoration-color: none;
  text-decoration: none;
}

h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  background: transparent linear-gradient(90deg, rgba(111, 165, 252, 0.46) 0%, rgba(227, 60, 111, 0.46) 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 30px;
  color: #FFF;
}

.faceicon {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.faceicon_img {
  width: 20%;
  height: 20%;
  margin-right: 100px;
}

.faceicon_about_skill {
  position: relative;
  width: 70%;
  height: 70%;
  right: 20px;
}
