.faceicon {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.faceicon_img {
  width: 20%;
  height: 20%;
  margin-right: 100px;
}

.faceicon_about_skill {
  position: relative;
  width: 70%;
  height: 70%;
  right: 20px;
}
