body {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  header {
    position: fixed;
    z-index: 4;
    width: 100%;
    margin-top: 20px;
  }
  nav {
    background: #fff;
    position: relative;
    top: -40px;
  }
  nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
  }
  nav li {
    box-sizing: border-box;
    float: left;
    width: 10%;
    left: 60%;
    position: relative;
  }
  nav li:last-child {
    border-right: none;
  }
  nav li a {
    display: block;
    padding: 20px 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  .global-nav__item a:hover {
    background-color: #D8EEFF;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  }
  .global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    transition: all 0.6s;
    z-index: 200;
    overflow-y: auto;
  }
  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }
  .global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .global-nav__item {
    text-align: center;
    padding: 0 14px;
  }
  .global-nav__item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #111;
  }
  .global-nav__item a:hover {
    background-color: #D8EEFF;
  }
  .hamburger__line {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: #111;
    transition: all 0.6s;
  }
  .hamburger__line--1 {
    top: 14px;
  }
  .hamburger__line--2 {
    top: 20px;
  }
  .hamburger__line--3 {
    top: 26px;
  }
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    cursor: pointer;
  }
  .nav-open .global-nav {
    right: 0;
  }
  .nav-open .black-bg {
    opacity: 0.8;
    visibility: visible;
  }
  .nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 20px;
  }
  .nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
  }
  .nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 20px;
  }
}

@media (min-width: 768px) {
  article {
    position: relative;
    top: 43px;
  }
}

@media (max-width: 768px) {
  article {
    position: relative;
    top: 20px;
  }
  .imgcolection {
    display: flex;
    flex-wrap: wrap;
  }
  .imgcolection-img1 {
    width: 50%;
    height: 20%;
  }
  .imgcolection-img1-spot {
    width: 100%;
    height: 50%;
  }
  .imgcolection-img2 {
    width: 50%;
    height: 50%;
  }
  .imgcolection-img2-spot {
    width: 100%;
    height: 50%;
  }
}

.toptitle {
  text-align: center;
  background: transparent linear-gradient(90deg, rgba(111, 165, 252, 0.46) 0%, rgba(227, 60, 111, 0.46) 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 50px;
  color: #fff;
  padding-top: 20px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .imgcolection {
    display: flex;
    flex-wrap: wrap;
  }
  .imgcolection-img1 {
    width: 25%;
    height: 20%;
  }
  .imgcolection-img1-spot {
    width: 100%;
    height: 50%;
  }
  .imgcolection-img2 {
    width: 25%;
    height: 50%;
  }
  .imgcolection-img2-spot {
    width: 100%;
    height: 50%;
  }
}

.credit {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
