@media (max-width: 375px) {
  .movie {
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
    margin-top: 100px;
    padding-top: 50px;
  }
  .movie_texts {
    margin-left: 20px;
  }
  .movie_img {
    width: 50%;
    height: 100%;
  }
  .movie_img_contents1 {
    width: 100%;
    height: 100%;
  }
  .movie_img1 {
    position: relative;
    left: -20px;
    width: 100%;
    height: 100%;
  }
  .movie_img1_contents1 {
    width: 100%;
    height: 100%;
  }
  .movie_img2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .movie_img2_contents1 {
    position: relative;
    left: -20px;
    width: 100%;
    height: 100%;
  }
  .movie_texts {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .movie {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin-top: 100px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .movie_img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  .movie_img_contents1 {
    width: 100%;
    height: 100%;
  }
  .movie_img1 {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .movie_img1_contents1 {
    width: 100%;
    height: 100%;
  }
  .movie_img2 {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .movie_img2_contents1 {
    width: 100%;
    height: 100%;
  }
  .movie_texts {
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  .movie {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin-top: 100px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .movie_img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  .movie_img_contents1 {
    width: 100%;
    height: 100%;
  }
  .movie_img1 {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .movie_img1_contents1 {
    width: 100%;
    height: 100%;
  }
  .movie_img2 {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .movie_img2_contents1 {
    width: 100%;
    height: 100%;
  }
  .movie_texts {
    margin-left: 50px;
  }
}
