.treeimg {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 710px;
  margin: 50px auto;
}

.treeimg_topimg {
  width: 100%;
  height: auto;
}

.treeinfo {
  text-align: center;
  max-width: 710px;
  margin: 0 auto;
}

.treeinfo_text1 {
  text-align: left;
  margin: 20px auto;
}

.treeinfo_text2 {
  text-align: left;
  margin: 20px auto;
}

.treeinfo_text3 {
  text-align: left;
  margin: 20px auto;
}

.treeinfo_text4 {
  text-align: left;
  margin: 20px auto;
}

.treeinfo_text5 {
  text-align: left;
  margin: 20px auto;
}

.treeinfo_text6 {
  text-align: left;
  margin: 20px auto;
}

.treeui {
  padding-top: 100px;
  max-width: 710px;
  text-align: left;
  margin: 0 auto;
  display: flex;
}

.treeui_imgui {
  width: 100%;
  height: 50%;
  padding-right: 0;
}

.treeui_info_uitext {
  margin-left: 65px;
  font-weight: 600px;
}

.treeui_info_uitext2 {
  margin-left: 65px;
  text-align: left;
}

.treeui_info_uitext3 {
  margin-left: 65px;
  text-align: left;
}

.treeui_info_uitext4 {
  margin-left: 65px;
  text-align: left;
}

.treetext {
  padding-top: 50px;
  text-align: center;
}

.treeui2 {
  max-width: 710px;
  text-align: left;
  margin: 0 auto;
  display: flex;
}

.treeui2_imgui {
  width: 50%;
  height: 25%;
  padding-right: 0;
}

.treeui2_info_uitext {
  font-weight: 600px;
  text-align: left;
}

.treeui2_info_uitext2 {
  text-align: left;
}

.treeui2_info_uitext3 {
  text-align: left;
}

.treeui2_info_uitext4 {
  text-align: left;
}

.treeui3 {
  padding-top: 50px;
  max-width: 710px;
  text-align: left;
  margin: 0 auto;
  display: flex;
}

.treeui3_imgui {
  width: 50%;
  height: 25%;
  padding-right: 0;
}

.treeui3_info_uitext {
  font-weight: 600px;
  text-align: left;
}

.treeui3_info_uitext2 {
  text-align: left;
}

.treeui3_info_uitext3 {
  text-align: left;
}

.treeui3_info_uitext4 {
  text-align: left;
}

.treeimg {
  padding-top: 50px;
  max-width: 710px;
  margin: 0 auto;
  width: 100%;
  height: 25%;
}

.treeimgtext {
  max-width: 710px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 100px;
}

.treeuitext {
  text-align: center;
}

.treeui4 {
  max-width: 710px;
  text-align: left;
  margin: 0 auto;
  display: flex;
  padding-bottom: 100px;
}

.treeui4_imgui {
  width: 100%;
  height: 100%;
  padding-right: 0;
}

.treeui4_info_uitext {
  font-weight: 600px;
  text-align: left;
}

.treeui4_info_uitext2 {
  text-align: left;
}

.treeui4_info_uitext3 {
  text-align: left;
}

.treeui4_info_uitext4 {
  text-align: left;
}

.treeui5 {
  padding-top: 100px;
  max-width: 710px;
  text-align: left;
  margin: 0 auto;
  display: flex;
}

.treeui5_imgui {
  width: 50%;
  height: 25%;
  padding-right: 0;
}

.treeui5_info_uitext {
  margin-right: 65px;
  font-weight: 600px;
  text-align: left;
}

.treeui5_info_uitext2 {
  margin-right: 65px;
  text-align: left;
}

.treeui5_info_uitext3 {
  margin-right: 65px;
  text-align: left;
}

.treeui5_info_uitext4 {
  margin-right: 65px;
  text-align: left;
}

.treeui6 {
  padding-top: 100px;
  max-width: 710px;
  text-align: left;
  margin: 0 auto;
  display: flex;
}

.treeui6_imgui {
  width: 50%;
  height: 25%;
  padding-right: 0;
}

.treeui6_info_uitext {
  margin-left: 65px;
  font-weight: 600px;
  text-align: left;
}

.treeui6_info_uitext2 {
  margin-left: 65px;
  text-align: left;
}

.treeui6_info_uitext3 {
  margin-left: 65px;
  text-align: left;
}

.treeui6_info_uitext4 {
  margin-left: 65px;
  text-align: left;
}

.treeuiinfo {
  text-align: center;
  padding-top: 50px;
}
