.typeimg {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 710px;
  margin: 50px auto;
}

.typeimg_topimg {
  width: 100%;
  height: auto;
}

.typeinfo {
  text-align: center;
  max-width: 710px;
  margin: 0 auto;
}

.typeinfo_text1 {
  text-align: left;
  margin: 20px auto;
}

.typeinfo_text2 {
  text-align: left;
  margin: 20px auto;
}

.typeinfo_text3 {
  text-align: left;
  margin: 20px auto;
}

.typeinfo_text4 {
  text-align: left;
  margin: 20px auto;
}

.typeinfo_text5 {
  text-align: left;
  margin: 20px auto;
}

.typeui {
  padding-top: 100px;
  max-width: 710px;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

.typeui_imgui {
  width: 50%;
  height: 25%;
  padding-right: 0;
}

.typeui_info_uitext {
  margin-left: 65px;
  font-weight: 600px;
}

.typeui_info_uitext2 {
  margin-left: 65px;
  text-align: left;
}

.typeui_info_uitext3 {
  margin-left: 65px;
  text-align: left;
}

.typeui_info_uitext4 {
  margin-left: 65px;
  text-align: left;
}

.typeui2 {
  padding-top: 200px;
  max-width: 710px;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

.typeui2_imgui {
  width: 50%;
  height: 25%;
  padding-right: 0;
}

.typeui2_info_uitext {
  margin-right: 65px;
  font-weight: 600px;
  text-align: left;
}

.typeui2_info_uitext2 {
  margin-right: 65px;
  text-align: left;
}

.typeui2_info_uitext3 {
  margin-right: 65px;
  text-align: left;
}

.typeui2_info_uitext4 {
  margin-right: 65px;
  text-align: left;
}
