@charset "UTF-8";
.typeimg {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.typeimg_topimg {
  width: 100%;
  height: auto;
}

.cp_tab *,
.cp_tab *:before,
.cp_tab *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp_tab {
  margin: 1em auto;
  position: relative;
  margin-top: 50px;
}

.cp_tab input[type="radio"] {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.cp_tab .cp_tabpanel {
  display: none;
}

.cp_tab .cp_tabpanel_img {
  filter: drop-shadow(5px 5px 5px #aaa);
  display: flex;
  flex-wrap: wrap;
}

.cp_tab .cp_tabpanel_img_group {
  width: 50%;
  height: 50%;
}

.cp_tab .cp_tabpanel_img_group_contants1 {
  padding-bottom: 50px;
  padding-right: 20px;
  width: 100%;
  height: 50%;
}

.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
  display: block;
}

.cp_tab .cp_tabpanels {
  position: absolute;
  top: 0;
  left: 10em;
  display: block;
  height: 320px;
}

.cp_tab > input + label {
  position: relative;
  z-index: 100;
  top: -15px;
  left: 1px;
  display: block;
  width: 10em;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-right: 0;
  border-radius: 6px 0 0 6px;
}

.cp_tab > input + label:last-of-type {
  margin-bottom: 100px;
}

.cp_tab > label:hover,
.cp_tab > input:focus + label {
  color: #0066cc;
}

.cp_tab > input:checked + label {
  border-color: #cccccc;
  border-right: 1px solid #ffffff;
  /*背景色と同じ*/
}

.cp_tab .cp_tabpanel {
  padding: 0.5em 1em;
  border-left: 1px solid #cccccc;
  min-height: 320px;
}

@media (max-width: 480px) {
  .cp_tab {
    width: 100%;
  }
  .cp_tab > input + label {
    font-size: 0.7em;
  }
  .cp_tab .cp_tabpanels {
    left: 7em;
    min-width: 7em;
  }
}

.graphic {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin-top: 100px;
  margin: 0 auto;
  padding-top: 50px;
}

.graphic_img {
  width: 50%;
  height: 60%;
}

.graphic_img_contents1 {
  width: 100%;
  height: 50%;
}

.graphic_texts {
  margin-left: 50px;
}

.threed {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin-top: 100px;
  margin: 0 auto;
  padding-top: 50px;
}

.threed_img {
  width: 50%;
  height: 60%;
}

.threed_img_contents1 {
  width: 100%;
  height: 50%;
}

.threed_texts {
  margin-left: 50px;
}

.movie {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin-top: 100px;
  margin: 0 auto;
  padding-top: 50px;
}

.movie_img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.movie_img_contents1 {
  width: 100%;
  height: 100%;
}

.movie_img1 {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.movie_img1_contents1 {
  width: 100%;
  height: 100%;
}

.movie_img2 {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.movie_img2_contents1 {
  width: 100%;
  height: 100%;
}

.movie_texts {
  margin-left: 50px;
}

.other {
  display: flex;
  flex-wrap: wrap;
}

.other_img {
  padding-bottom: 50px;
  padding-right: 20px;
  width: 50%;
  height: 100%;
}

.othertext {
  padding-left: 20px;
}

.other2 {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin-top: 100px;
  margin: 0 auto;
  padding-top: 50px;
}

.other2_img {
  width: 70%;
  height: 100%;
}

.other2_img_contents1 {
  width: 100%;
  height: 100%;
}
